header.header
    .header-container.container.header__desktop
        .header-top
            .header-top__logo   
                a(href="#")
                    img(src="../assets/icons/logotype.svg", alt="logo")
            .header-top__contacts
                a.header-top__wrapper-phone(href="tel:+79182860112")
                    span.header-top__phone +7 918 286 01 12
                a.header-top__wrapper-order(href="#")
                    .main-btn.order-button.popup-event Оставить заявку              
        .header-bottom 
            .header-bottom__categories
                a.cat-link.categories-link.categories-link__active(href="#", data-target="digital") Digital
                a.cat-link.categories-link(href="#", data-target="influence") Influence
            .header-bottom__nav
                menu
                    nav
                       ul.nav-list
                        li.nav-list__item
                            a.nav-list-item__link.default-link(href="aboutus") О нас
                        li.nav-list__item
                            a.nav-list-item__link.default-link(href="#") Услуги
                            ul.sub-menu
                                li.sub-menu__item
                                    a.sub-menu__link.default-link(href="#") Разработка и создание сайтов
                                li.sub-menu__item
                                    a.sub-menu__link.default-link(href="#") Продвижение
                                li.sub-menu__item
                                    a.sub-menu__link.default-link(href="#") SMM
                                li.sub-menu__item
                                    a.sub-menu__link.default-link(href="#") Веб-аналитика
                                li.sub-menu__item
                                    a.sub-menu__link.default-link(href="#") Контекст
                                li.sub-menu__item
                                    a.sub-menu__link.default-link(href="#") Обучение
                        li.nav-list__item
                            a.nav-list-item__link.default-link(href="cases") Кейсы
                        li.nav-list__item
                            a.nav-list-item__link.default-link(href="contacts") Контакты
                        li.nav-list__item.nav-list__social-links 
                            a.social-links__vk(href="#", target="_blank")
                            a.social-links__instagram(href="#", target="_blank")
    .header-container.header__mobile
        .header-top.container
            .burger-btn.burger-btn__active
                a(href="#").burger-btn__link
                    .burger-btn__item
                    .burger-btn__item
                    .burger-btn__item
            a(href="#").logo
                img(src="../assets/icons/logo-mobile.svg", alt="")
            .header-top__categories
                a.cat-link.categories-link.categories-link__active(href="#", data-target="digital") Digital
                a.cat-link.categories-link(href="#", data-target="influence") Influence
        .header-bottom
            .header-bottom__head.container
                .burger-back-btn
                    a(href="#").burger-back-btn__link
                .header-bottom__brandname
                    img(src="../assets/icons/brandname.svg", alt="")
                .header-bottom__socials
                    a.social-links__vk(href="#", target="_blank")
                    a.social-links__instagram(href="#", target="_blank")
            .header-bottom__menu 
                menu
                    nav
                        ul.nav-list
                            li.nav-list__item
                                a.nav-list-item__link.default-link(href="aboutus") О нас
                            li.nav-list__item
                                a.nav-list-item__link.default-link(href="#") Услуги
                                ul.sub-menu
                                    li.sub-menu__item
                                        a.sub-menu__link.default-link(href="#") Разработка и создание сайтов
                                    li.sub-menu__item
                                        a.sub-menu__link.default-link(href="#") Продвижение
                                    li.sub-menu__item
                                        a.sub-menu__link.default-link(href="#") SMM
                                    li.sub-menu__item
                                        a.sub-menu__link.default-link(href="#") Веб-аналитика
                                    li.sub-menu__item
                                        a.sub-menu__link.default-link(href="#") Контекст
                                    li.sub-menu__item
                                        a.sub-menu__link.default-link(href="#") Обучение
                            li.nav-list__item
                                a.nav-list-item__link.default-link(href="cases") Кейсы
                            li.nav-list__item
                                a.nav-list-item__link.default-link(href="contacts") Контакты
            .header-bottom__contacts 
                .header-top__contacts
                    a.header-top__wrapper-phone(href="tel:+79182860112")
                        span.header-top__phone +7 918 286 01 12
                    a.header-top__wrapper-order(href="#")
                        .main-btn.order-button.popup-event Оставить заявку      


