footer.footer
    .footer-container.container 
        .footer-logo
            .footer-logo__img
                a(href="#")
                    img(src="../assets/icons/footer-logotype.svg", alt="")
            p.footer-logo__desc Создание и продвижение товаров и услуг в сети интернет.
        .footer-divider
        .footer-links
            .footer-links__contacts
                .footer-links__wrapper-phone
                    a.footer-links__phone(href="tel:+79182860112") +7 918 286 01 12
                .footer-links__wrapper-mail
                    a.footer-links__mail(href="mailto:azimut_reklama@mail.ru") azimut_reklama@mail.ru
                .footer-links__wrapper-order
                    a.main-btn-shadow.order-button(href="#") Оставить заявку
            .footer-links__socials
                a.social-links__vk(href="#", target="_blank")
                a.social-links__instagram(href="#", target="_blank")
    .footer-upbutton
        a.footer-upbutton__link(href="#") Наверх
