section.cases
    .container
        .cases-header
            .cases-header__img
            img(src="../assets/icons/cases-1.svg", alt="")
            h2 Кейсы
        .cases-content
            p.main-text За годы работы, мы заслужили доверие крупных компаний. В нашем багаже более 150 успешных проектов.
            .cases-content__logotypes
                img(src="../assets/icons/cases-logo-1.svg", alt="")
                img(src="../assets/icons/cases-logo-2.svg", alt="")
                img(src="../assets/icons/cases-logo-3.svg", alt="")
                img(src="../assets/icons/cases-logo-4.svg", alt="")
                img(src="../assets/icons/cases-logo-5.svg", alt="")