extends ../assets/templates/template_default

block header
  include ../assets/blocks/header/header

block main
  main.main
    section.main-section
      .service-variables.custom-container-1
        a.service-variables__item.service-variables__digital(href="#")
          .service-variables__divider
          .service-variables__desc
            .desc-img
            p.main-text Увеличим Ваши продажи, звонки и заявки с Вашего сайта. Для продвижения используем наиболее эффективные современные технологии и собственные разработки
          .service-variables__header
            h5 Digital
        a.service-variables__item.service-variables__item-active.service-variables__influence(href="#")
          .service-variables__divider
          .service-variables__desc
            .desc-img
            p.main-text Увеличим Ваши продажи, звонки и заявки с Вашего сайта. Для продвижения используем наиболее эффективные современные технологии и собственные разработки
          .service-variables__header
            h5 Influence
      .service-slider.custom-container-2
        h1 Digital kit
        .slider-item
          h4 Аудит
            span от Digital kit
          p.main-text Сегодня все руководители и предприниматели понимают, какую роль в развитии бизнеса играет своевременный Аудит. Мы предлагаем эту услугу по сниженным ценам.
          .slider-nav
            a.main-btn-shadow.slider-nav__button.order-button(href="#") Заказать аудит
            .slider-pagination
              button.slider-pagination__item
              button.slider-pagination__item
              button.slider-pagination__item.slider-pagination__item-active

    

block footer
  include ../assets/blocks/footer/footer

block popup
  include ../assets/blocks/popup/popup