extends ../assets/templates/template_default

block header
  include ../assets/blocks/header/header

block main
  main.main
    section.main-section
      .service-variables.custom-container-1
        a.service-variables__item.service-variables__digital(href="#")
          .service-variables__divider
          .service-variables__desc
            .desc-img
            p.main-text Увеличим Ваши продажи, звонки и заявки с Вашего сайта. Для продвижения используем наиболее эффективные современные технологии и собственные разработки
          .service-variables__header
            h5 Digital
        a.service-variables__item.service-variables__item-active.service-variables__influence(href="#")
          .service-variables__divider
          .service-variables__desc
            .desc-img
            p.main-text Увеличим Ваши продажи, звонки и заявки с Вашего сайта. Для продвижения используем наиболее эффективные современные технологии и собственные разработки
          .service-variables__header
            h5 Influence
      .service-slider.custom-container-2
        h1 Digital kit
        .slider-item
          h4 Аудит&nbsp;
            span от Digital kit
          p.main-text Сегодня все руководители и предприниматели понимают, какую роль в развитии бизнеса играет своевременный Аудит. Мы предлагаем эту услугу по сниженным ценам.
          .slider-nav
            a.main-btn-shadow.slider-nav__button.order-button(href="#") Заказать аудит
            .slider-pagination
              button.slider-pagination__item
              button.slider-pagination__item
              button.slider-pagination__item.slider-pagination__item-active
    section.aboutus
      .aboutus-description
        .aboutus-header.custom-container-1
          .aboutus-header__block
            .aboutus-header__img.bordered-icon
              img(src="../assets/icons/aboutus.svg", alt="")
            h2 О нас
        .aboutus-text.custom-container-2
          p.main-text Мы – команда профессионалов в области разработки и продвижения сайтов. Наше рекламное интернет-агентство имеет опыт разработки и развития самых разных проектов – от создания и продвижения сайта услуг частного мастера по ремонту стиральных машин до крупного новостного портала с посещаемостью свыше 20 000 сутки.
      .aboutus-advantages
        .container  
          .aboutus-advantages__item
            .aboutus-advantages__img.bordered-icon
              img(src="../assets/icons/advantages-1.svg", alt="")
            h3 Преимущество 1
            p.aboutus-advantages__desc.main-text Мы – команда профессионалов в области разработки и продвижения сайтов.
          .aboutus-advantages__item
            .aboutus-advantages__img.bordered-icon
              img(src="../assets/icons/advantages-2.svg", alt="")
            h3 Преимущество 2
            p.aboutus-advantages__desc.main-text Мы – команда профессионалов в области разработки и продвижения сайтов.
          .aboutus-advantages__item
            .aboutus-advantages__img.bordered-icon
              img(src="../assets/icons/advantages-3.svg", alt="")
            h3 Преимущество 3
            p.aboutus-advantages__desc.main-text Мы – команда профессионалов в области разработки и продвижения сайтов.
    section.influence-marketing
      .influence-marketing-text
        .container.custom-container-3
          .influence-marketing-header
            .influence-marketing-header__img.bordered-icon
              img(src="../assets/icons/inf-1.svg", alt="")
            .influence-marketing-header__text
              h2 Influence marketing
              .sub-header Что это?
          .influence-marketing-desc
            .influence-marketing-desc__item
              p.main-text Influencer Marketing — это способ продвижения товаров и услуг через лидеров мнений. В России в последнее время много говорят о продвижении брендов через популярных блогеров, то это лишь небольшая часть этого тренда.
            .influence-marketing-desc__item
              p.main-text По факту «инфлюенсером» может быть кто угодно — от популярной поп-звезды до человека с ником SuperMama, которому верит всё мам-сообщество какого-то конкретного бэби-форума, или рекомендателя на iRecommend.
      .influence-marketing-stats
        .container.custom-container-3
          h2 Немного статистики
          ul.influence-marketing-stats__progressbar
            li.influence-marketing-stats__item
              .influence-marketing-stats__bg
                .influence-marketing-stats__active
                  p.influence-marketing-stats__text 92% &nbsp;
                    span людей
              .influence-marketing-stats__desc Доверяют рекомендациям других людей
            li.influence-marketing-stats__item
              .influence-marketing-stats__bg
                .influence-marketing-stats__active
                  p.influence-marketing-stats__text 92% &nbsp;
                    span людей
              .influence-marketing-stats__desc Доверяют рекомендациям других людей
            li.influence-marketing-stats__item
              .influence-marketing-stats__bg
                .influence-marketing-stats__active
                  p.influence-marketing-stats__text 92% &nbsp;
                    span людей
              .influence-marketing-stats__desc Доверяют рекомендациям других людей
            li.influence-marketing-stats__item
              .influence-marketing-stats__bg
                .influence-marketing-stats__active
                  p.influence-marketing-stats__text 92% &nbsp;
                    span людей
              .influence-marketing-stats__desc Доверяют рекомендациям других людей
      .influence-marketing-audience-stats
        .custom-container-1
          .influence-marketing-audience-stats__header
            .influence-marketing-audience-stats__img.bordered-icon
              img(src="../assets/icons/yt-1.svg", alt="")
            p.influence-marketing-audience-stats__desc.main-text Аудитория YOUTYBE  44 млн. человек
        .custom-container-2
          ul.influence-marketing-audience-stats__list
            li.influence-marketing-audience-stats__item Это 66% Всех пользователей интернета
            li.influence-marketing-audience-stats__item 48% из них - Это люди в возрасте 25 - 44 Лет  
            li.influence-marketing-audience-stats__item 24% 44 - 56 Лет  
            li.influence-marketing-audience-stats__item 28% 12 - 24 Лет 
    section#offer-agency-process
      .offer
        .offer-overlay
          .custom-container-3
            .influence-marketing-header
                .influence-marketing-header__img.bordered-icon
                  img(src="../assets/icons/offer-1.svg", alt="")
                .influence-marketing-header__text
                  h2 Что мы предлагаем
            .offer-content
              .offer-text
                .offer-text__desc-block
                  .offer-text__overlay
                    .offer-text__icon
                      img(src="../assets/icons/offer-3.svg", alt="")
                      p.main-text Наши разработки позволяют определять стоимость таргетированного контакта* с Вашей целевой аудиторией по следующим параметрам:
              ul.offer-list
                li.offer-list__item Пол    
                li.offer-list__item Возраст
                li.offer-list__item География
                li.offer-list__item Устройство просмотра**
                li.offer-list__item Операционная система
                li.offer-list__item Финансовый статус
            p.main-text * Стоимость таргетированного контакта - показатель эффективности вложения средств на совершение одного качественного контакта с представителем целевой аудитории. 
            p.main-text ** Мобильный телефон, планшет, компьютер, Smart TV и другие устройства с выходом в сеть интернет.
      .agency
        .container  
          h2 Для рекламных агенств
          .agency-items
            .agency-item
              .agency-item__img.bordered-icon 
                img(src="../assets/icons/agency-1.svg", alt="")
              h3 Cкидки по всем клиентам
              p.aboutus-advantages__desc.main-text Мы предоставляем оптовые скидки по всем клиентам - 15%
            .agency-item
              .agency-item__img.bordered-icon 
                img(src="../assets/icons/agency-2.svg", alt="")
              h3 Закрытая супер комиссия
              p.aboutus-advantages__desc.main-text Мы готовы предоставить закрытую супер комиссию
            .agency-item
              .agency-item__img.bordered-icon 
                img(src="../assets/icons/agency-3.svg", alt="")
              h3 Предложения для тендеров
              p.aboutus-advantages__desc.main-text Мы разрабатываем совместные коммерческие предложения
          



block footer
  include ../assets/blocks/footer/footer

block popup
  include ../assets/blocks/popup/popup