section.questions
    .custom-container-3
        .questions-header
            .questions-header__text
                h2 У вас есть вопросы?
            .questions-header__desc
                p.main-text Если у Вас возникли вопросы или есть коммерческое предложение, которое может быть нам интересно, заполните форму слева и отправьте заявку. Мы перезвоним Вам в близжайшее время для консультации.
        .questions-form
            form(action="")
                input(type="text" name="Name" placeholder="Имя")
                input(type="phone" name="Phone" placeholder="Номер телефона")
                input(type="text" name="Email" placeholder="E-mail")
                .questions-form__button
                    button(type="submit") Оставить заявку
                    .questions-form__policy
                        p.main-text Нажимая на кнопку «ОСТАВИТЬ ЗАЯВКУ», Вы даете согласие на обработку Ваших персональных данных.


