@import 'libraries/reset.2.0.0'
@import 'libraries/normalize.8.0.1'

@import '../fonts/fonts'

@import './base/vars'
@import './base/title'
@import './base/container'

@import '../blocks/popup/popup'

body
  width: 100%
*
  letter-spacing: 0.02em
  display: flex
  font-family: Proxima Nova !important
  box-sizing: border-box
  &:hover
    transition: all .3s
title
  display: none
.app, .app__header, header
  width: 100%
.app
  flex-direction: column
.container
  flex-direction: column
  margin: auto
.custom-container-1
  width: 100%
  max-width: 850px
.custom-container-2
  width: 100%
  max-width: 1070px
  padding: 0 400px 0 130px
.custom-container-3
  max-width: 950px
  width: 100%
  margin: auto
a
  text-decoration: none
  &:hover
    text-decoration: none
.default-link
  color: $lightgray
  font-size: 18px
  font-weight: 300
  &:hover
    color: $darkgray
.main-btn
  margin-left: 20px
  font-size: 18px
  color: $purple
  font-weight: 600
  text-transform: uppercase
  border: 4px solid $purple
  // border-image: linear-gradient(180deg,#c800ff 0%,#2a00ff 100%)
  // border-image-slice: 1
  border-radius: 100px
  align-items: center
  height: 100%
  max-height: 56px
  padding: 20px
.main-btn-shadow
  font-weight: 500
  color: #fff
  border-radius: 50px
  box-shadow: 0 4px 4px rgba(#000, 0.25)
  align-items: center
  padding: 20px
  line-height: 27px
  font-size: 18px
  text-transform: uppercase
  max-height: 56px
  background: linear-gradient(180deg,#c800ff 0%,#2a00ff 100%)
.main-text
  line-height: 24px
// header
menu, nav
  display: flex
  justify-content: flex-end
  width: 100%
.header
  position: absolute
  background: rgba(#f6f6f6, .5)
  border-bottom: 1px solid $lightgray
  &-top
    padding: 25px 0
    justify-content: space-between
    &__contacts
      width: auto
    &__phone
      margin-left: 10px
      color: $lightgray
      font-weight: 500
      font-size: 18px
      align-items: center
      max-height: 52px
    &__wrapper-phone
      justify-content: flex-end
      box-sizing: border-box
      display: flex
      align-items: center
      &:before
        content: ""
        display: flex
        background: url('../icons/phone.svg') no-repeat center
        width: 28px
        height: 28px
        box-sizing: border-box
      &:hover span
        background: linear-gradient(180deg,#c800ff 0%,#2a00ff 100%)
        background-clip: text
        -webkit-text-fill-color: transparent
        color: #c800ff
    &__wrapper-order
      margin-left: 20px
      justify-content: flex-end
      box-sizing: border-box
      display: flex
      align-items: center
      &:before
        content: ""
        display: flex
        background: url('../icons/mail.svg') no-repeat center
        border: 4px solid $purple
        padding: 20px
        height: 56px
        width: 56px
        border-radius: 100px
        box-sizing: border-box
  &-bottom 
    padding: 15px 0
    &__categories
      width: 100%
      max-width: 200px
      justify-content: space-between
    &__nav
      width: 100%
      justify-content: flex-end
.categories-link
  text-transform: uppercase
  color: $lightgray
  align-items: center
  &__active
    color: #000
  &:hover
    color: #000
.sub-menu
  background: $bg-lightgray
  border-radius: 0px 0px 12px 12px
  position: absolute
  flex-direction: column
  display: none
  transform: translateY(55px) translateX(-50%)
  left: 50%
  opacity: 0
  width: 100%
  min-width: 280px
  padding: 0 40px
  transition: all .3s
  &__item
    margin: 25px 0
    justify-content: center
    text-align: center
  &__link
    line-height: 27px
    font-size: 18px
    color: $lightgray
.nav-list
  width: 100%
  max-width: 600px
  justify-content: space-between
  align-items: center
  &__item
    position: relative
  &-item 
    &__link
  &__social-links
    .social-links
      &__vk
        width: 24px
        height: 23px
        mask-image: url('../icons/vk-logo.svg')
        mask-size: cover
        background: $lightgray
        &:hover
          background: $darkgray
      &__instagram
        margin-left: 20px
        width: 24px
        height: 23px
        mask-image: url('../icons/insta-logo.svg')
        mask-size: cover
        background: $lightgray
        &:hover
          background: $darkgray

// footer
.footer
  background: $darkgray
  width: 100%
  &-container
    width: 100%
    padding: 110px 0
    position: relative
    flex-direction: row
  &-logo
    justify-content: space-between
    width: 100%
    max-width: 220px
    flex-direction: column
    &__desc
      font-size: 12px
      color: #fff
      font-weight: 300
      justify-content: center
      text-align: center
      line-height: 17px
  &-divider
    margin: 0 50px
    background: #fff
    height: 107px
    width: 2px
  &-links
    width: 100%
    flex-direction: column
    justify-content: space-around
    &__contacts
      max-width: 650px
      width: 100%
      justify-content: space-between
    &__phone
      color: #fff
      font-size: 18px
      text-transform: uppercase
      font-weight: 500
      margin-left: 10px
      &:hover
        color: $purple
    &__wrapper-phone
      justify-content: flex-end
      box-sizing: border-box
      display: flex
      align-items: center
      &:before
        content: ""
        display: flex
        width: 28px
        height: 28px
        box-sizing: border-box
        mask-image: url('../icons/phone.svg')
        mask-size: cover
        background: #fff
    &__mail
      color: #fff
      font-size: 18px
      font-weight: 500
      margin-left: 10px
      border-bottom: 1px solid rgba(#fff,0.5)
      &:hover
        color: $purple
        border-bottom: 1px solid $purple
    &__wrapper-mail
      justify-content: flex-end
      box-sizing: border-box
      display: flex
      align-items: center
      &:before
        content: ""
        display: flex
        mask-image: url('../icons/mail.svg')
        mask-size: cover
        background: #fff
        width: 24px
        height: 24px
        box-sizing: border-box
    &__socials 
      .social-links
        &__vk
          width: 24px
          height: 23px
          mask-image: url('../icons/vk-logo.svg')
          mask-size: cover
          background: #fff
          &:hover
            background: $purple
        &__instagram
          margin-left: 20px
          width: 24px
          height: 23px
          mask-image: url('../icons/insta-logo.svg')
          mask-size: cover
          background: #fff
          &:hover
            background: $purple
  &-upbutton
    &__link
      background: $bg-lightgray
      padding: 35px 0
      width: 100%
      justify-content: center
      align-items: center
      color: $lightgray
      text-transform: uppercase

// main
.main
  width: 100%
  &-section
    background: url('../images/bg-main.jpg') no-repeat center
    background-size: cover
    display: flex
    width: 100%
    height: 625px
    padding-top: 170px
    box-sizing: content-box
.service-variables
  flex-direction: column
  height: 100%
  &__header
    display: flex
    justify-content: center
    transform: rotate(-90deg) translateX(50%) translateY(-50px)
    h5
      pointer-events: none
      height: 100%
      color: $lightgray
      align-items: center
      position: absolute
      align-items: center
      writing-mode: rb-rl
      font-size: 28px
      font-weight: 500
      text-transform: uppercase
      justify-content: center
  &__desc
    flex-direction: column
    align-items: flex-end
    max-width: 40%
    width: 100%
    justify-content: center
    margin-right: 100px
    .main-text
      text-align: right
      font-size: 14px
      line-height: 21px
      color: $lightgray
  &__item
    position: relative
    height: 50%
    justify-content: flex-end
    &-non-active
      &:hover .main-text, &:hover h5
        background: linear-gradient(180deg,#c800ff 0%,#2a00ff 100%)
        background-clip: text
        -webkit-text-fill-color: transparent
        color: #c800ff
      &:hover .desc-img
        background: linear-gradient(180deg,#c800ff 0%,#2a00ff 100%)
    &-active
      background: linear-gradient(180deg,#c800ff 0%,#2a00ff 100%)
      h5 
        color: #ffffff
    &-active
      .desc-img
        background: #ffffff !important
    &-active
      .main-text
        color: #ffffff
    &-active .service-variables__divider
      opacity: 0
  &__divider
    position: absolute
    height: 8px
    width: 100%
    background: linear-gradient(180deg,#c800ff 0%,#2a00ff 100%)
  &__digital &__divider
    top: 0
  &__influence &__divider
    bottom: 0
  .desc-img
    width: 41px
    height: 41px
    mask-size: cover
    margin-bottom: 20px
    background: $lightgray
  &__digital .desc-img
    mask-image: url('../icons/digital-icon.svg')
  &__influence .desc-img
    mask-image: url('../icons/influence-icon.svg')
.service-slider
  box-sizing: border-box
  align-items: center
  position: relative
  justify-content: center
  flex-direction: column
  h1 
    align-items: center
    transform: rotate(-90deg)
    writing-mode: rb-rl
    font-size: 28px
    text-transform: uppercase
    width: 650px
    height: 70px
    justify-content: center
    margin: 0
    position: absolute
    left: -250px
    font-weight: 900
    font-size: 90px
    letter-spacing: 10px
    opacity: 0.03
    color: $darkgray
  .main-text
    margin: 40px 0
    line-height: 24px
.slider
  &-item
    flex-direction: column
    h4
      font-size: 38px
      font-weight: 500
      color: $darkgray
      text-transform: uppercase
      span
        color: $lightgray
  &-pagination
    display: flex
    align-items: center
    &__item
      margin: 0 10px
      width: 16px
      height: 16px
      border-radius: 100px
      border: none
      background: $bg-lightgray
      &-active
        background: linear-gradient(250deg,#c800ff 0%,#2a00ff 100%)

// aboutus 
h2
  font-size: 48px
  color: $lightgray
  writing-mode: vertical-lr
  transform: rotate(180deg)
  text-transform: uppercase
  font-weight: 500
  align-items: center
h3
  font-size: 24px
  line-height: 36px
  color: $bg-lightgray
  text-transform: uppercase
  font-weight: 500
.bordered-icon
  border: 4px solid $lightgray
  border-radius: 50px
  padding: 24px
.aboutus
  background: url('../images/bg-second.jpg') no-repeat center
  &-description
    opacity: .78
    background: $bg-lightgray
  &-header
    justify-content: flex-end
    &__block
      margin: 120px 0
      padding-right: 200px
      border-right: 2px solid $lightgray
      flex-direction: column
      align-self: center
      justify-content: center
    &__img
      margin-bottom: 28px
  &-text
    align-items: center
    line-height: 24px
    color: $darkgray
  &-advantages
    padding: 150px 0
    background: linear-gradient(180deg, rgba(#c800ff, 0.78) 0%, rgba(#2a00ff, 0.78) 100%)
    h3
      margin: 15px 0
    .container
      flex-direction: row
    .aboutus-advantages__img
      width: 102px
      border: solid $bg-lightgray
    &__item
      padding: 0 60px
      align-items: center
      flex-direction: column
      img
        width: 46px
    &__desc
      color: $bg-lightgray
      line-height: 24px
      text-align: center

// influence marketing
.sub-header
  font-size: 24px
  line-height: 36px
  color: #e0e0e0
  text-transform: uppercase
.influence-marketing
  background: url('../images/bg-third.jpg') no-repeat center
  &-text
    padding-top: 140px
    background: rgba($bg-lightgray, .78)
  &-header
    margin-bottom: 70px
    flex-direction: row
    &__text
      justify-content: center
      flex-direction: column
      h2
        writing-mode: unset
        transform: rotate(0)
    &__img
      justify-content: center
      margin-right: 30px
      width: 165px
  &-desc
    border-bottom: 2px solid $lightgray
    padding-bottom: 80px
    &__item
  &-stats
    padding-bottom: 140px
    background: rgba($bg-lightgray, .78)
    &__progressbar
      flex-direction: column
    &__item
      flex-direction: column
      width: 100%
    h2
      writing-mode: unset
      transform: rotate(0)
      justify-content: center
      padding: 60px
    &__bg
      background: $lightgray
      width: 100%
      padding: 4px
      border-radius: 100px
    &__active
      background: linear-gradient(180deg,#c800ff 0%,#2a00ff 100%)
      border-top-left-radius: 100px
      border-bottom-left-radius: 100px
      width: 80%
    &__text
      padding: 20px 0 20px 50px
      font-size: 42px
      text-transform: uppercase
      color: $bg-lightgray
      align-items: center
      font-weight: 600
      span 
        font-size: 28px
    &__desc
      font-size: 24px
      color: $darkgray
      padding: 40px
  &-audience-stats
    background: linear-gradient(180deg, rgba(#c800ff, .78) 0%, rgba(#2a00ff, .78) 100%)
    .custom-container-1
      justify-content: flex-end
      padding: 140px 200px 140px 0
      background: rgba($darkgray, .78)
    .custom-container-2
      padding: 0
    &__desc
      text-transform: uppercase
      color: $bg-lightgray
      font-size: 18px
      text-align: right
      writing-mode: vertical-lr
      transform: rotate(180deg)
      max-height: 175px
    &__header
      flex-direction: column
      align-items: center
    &__img
      margin-bottom: 28px
    &__list
      flex-direction: column
    &__item
      height: 25%
      align-items: center
      background: rgba($darkgray, .5)
      font-size: 24px
      line-height: 36px
      text-transform: uppercase
      padding: 0 50px
      box-sizing: border-box
      font-weight: 500
      color: $bg-lightgray
// offer
.offer.custom-container-3
  flex-direction: column
#offer-agency-process
  background: url('../images/offer-bg-2.jpg') no-repeat center
.offer
  justify-content: center
  background-color: rgba($bg-lightgray, .78)
  &-content
    margin-bottom: 20px
  &-overlay
    .custom-container-3
      padding: 140px 0 120px 0
      justify-content: center
      flex-direction: column
      .main-text 
        margin-bottom: 10px
  &-text
    width: 50%
    &__desc-block
      border-radius: 10px
      background: url('../images/offer-bg.jpg') no-repeat center
      background-size: cover
    &__overlay
      border-radius: 10px
      background: linear-gradient(180deg, rgba(#c800ff, .78) 0%, rgba(#2a00ff, .78) 100%)
    &__icon
      flex-direction: column
      align-items: center
      padding: 40px
      .main-text
        font-size: 24px
        text-align: center
        color: $bg-lightgray
        line-height: 41px
      img
        width: 74px
        margin-bottom: 40px
  &-list
    margin-left: -30px
    flex-direction: column
    justify-content: space-around
    &__item
      font-size: 24px
      align-items: center
      color: $lightgray
      text-transform: uppercase
      font-weight: 500
      &:before
        margin-right: 10px
        content: ""
        width: 60px
        height: 60px
        background: url('../icons/list-mark.svg')
// agency
.agency
  padding: 90px 0
  background: linear-gradient(180deg, rgba(#c800ff, .78) 0%, rgba(#2a00ff, .78) 100%)
  .bordered-icon
    border: solid $bg-lightgray
    width: 102px
    margin-bottom: 20px
  h2
    writing-mode: unset
    transform: rotate(0)
    justify-content: center
    font-size: 48px
    color: $bg-lightgray
    margin-bottom: 60px
  h3
    justify-content: center
    font-size: 16px
    margin-bottom: 20px
  &-items
  &-item
    align-items: center
    padding: 0 50px
    flex-direction: column
// process
.process
  background: rgba($bg-lightgray, .78)
  padding: 130px 0
  .container
    display: flex
    flex-direction: row
  &-header
    flex-direction: column
    align-items: center
    max-width: 33%
    width: 100%
    h2
      background: linear-gradient(180deg,#c800ff 0%,#2a00ff 100%)
      background-clip: text
      -webkit-text-fill-color: transparent
      color: #c800ff
    &__img
      margin-bottom: 30px
  &-list
    padding-left: 60px
    max-width: 67%
    width: 100%
    display: flex
    flex-direction: row
    &__items
      justify-content: space-around
      flex-direction: column
    &__item
      text-transform: uppercase
      font-size: 22px
      font-weight: 600
      color: $lightgray
      background: linear-gradient(180deg,#c800ff 0%,#2a00ff 100%)
      background-clip: text
      -webkit-text-fill-color: transparent
      color: #c800ff
      span 
        color: $lightgray
        background-clip: text
        -webkit-text-fill-color: $lightgray
        // background: $lightgray
    &__counter
      &-items
        margin-right: 30px
        padding: 0 15px
        background: linear-gradient(180deg,rgba(#c800ff, .2) 30%,#2a00ff 100%)
        flex-direction: column
        justify-content: space-around
      &-item
        color: $bg-lightgray
        font-size: 22px
        font-weight: 500
        justify-content: center

// cases
.cases
  background: $darkgray
  padding: 130px 0
  .container
    flex-direction: row
  &-header
    width: 33%
    flex-direction: column
    align-items: center
    &__img
      margin-bottom: 30px
    h2
      color: $bg-lightgray
  &-content
    flex-direction: column
    width: 67%
    padding-left: 50px
    justify-content: space-around
    .main-text
      font-weight: 300
      color: $bg-lightgray
      border-bottom: 1px solid $bg-lightgray
      padding-bottom: 30px
    &__logotypes
      justify-content: space-between
      align-items: center
// contacts
.contacts
  background: $bg-lightgray
  &-header
    flex-direction: column
    &__img
      width: 165px
      align-items: center
    &__text
      h2
        transform: rotate(0)
        writing-mode: unset