section.contacts
    .custom-container-3
        .contacts-header
            .contacts-header__img.bordered-icon
                img(src="../assets/icons/contacts-1.svg", alt="")
            .contacts-header__text
                h2 Контакты
        .contacts-content
            .contacts-links
                .contacts-links__wrapper-phone
                    a.contacts-links__phone(href="tel:+79182860112") +7 918 286 01 12
                .contacts-links__wrapper-mail
                    a.contacts-links__mail(href="mailto:azimut_reklama@mail.ru") azimut_reklama@mail.ru
            .contacts-text
                p.main-text Мы постоянно развиваемся и оповещаем наших клиентов об акциях и новых услугах в социальных сетях. Подписывайтесь на наши группы и будьте всегда в курсе новых предложений от DIGITAL KIT.
                .contacts-text__socials
                    a.social-links__vk(href="#", target="_blank")
                    a.social-links__instagram(href="#", target="_blank")
